<ion-header>
  <ion-toolbar>
    <ion-title class="title-bar">
      <nav class="navbar navbar-expand-lg navbar-transparent" color-on-scroll="100" id="navbar-top">
        <div class="container">
          <div class="navbar-translate" style="text-align: center;">
            <svg [routerLink]="['/home']" class="navbar-brand" placement="bottom" width="72px" height="72px"
              viewBox="0 0 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Artboard Copy</title>
              <desc>Created with Sketch.</desc>
              <g id="Artboard-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect fill="#171941" x="0" y="0" width="150" height="150"></rect>
                <g id="Group" transform="translate(16.000000, 18.000000)">
                  <path
                    d="M36.7742979,16.8170213 L42.0716596,16.8170213 L36.1048511,37.1914894 L30.6619574,37.1914894 L27.9259574,27.3244255 L27.664,25.8982128 L27.4311489,27.3244255 L24.6951489,37.1914894 L19.2522553,37.1914894 L13.2854468,16.8170213 L18.5828085,16.8170213 L21.7845106,28.4304681 L22.0464681,29.9148936 L22.2793191,28.4304681 L25.3354894,16.8170213 L30.021617,16.8170213 L33.0777872,28.4304681 L33.2815319,29.9148936 L33.5725957,28.4304681 L36.7742979,16.8170213 Z M56.4545469,16.8170213 L61.4899512,16.8170213 L61.4899512,37.1914894 L56.4545469,37.1914894 L56.4545469,28.9834894 L49.2652703,28.9834894 L49.2652703,37.1914894 L44.2298661,37.1914894 L44.2298661,16.8170213 L49.2652703,16.8170213 L49.2652703,24.2973617 L56.4545469,24.2973617 L56.4545469,16.8170213 Z M71.3322428,16.8170213 L76.9788811,16.8170213 L84.6629662,37.1914894 L79.2491789,37.1914894 L77.8811789,33.3494468 L70.4299449,33.3494468 L69.0619449,37.1914894 L63.6481577,37.1914894 L71.3322428,16.8170213 Z M74.5339449,23.9480851 L74.1555619,22.7547234 L73.7771789,23.9480851 L71.9725832,29.0708085 L76.3385406,29.0708085 L74.5339449,23.9480851 Z M82.3678961,16.8170213 L99.7444067,16.8170213 L99.7444067,21.5031489 L93.5738535,21.5031489 L93.5738535,37.1914894 L88.5384493,37.1914894 L88.5384493,21.5031489 L82.3678961,21.5031489 L82.3678961,16.8170213 Z M13.2854468,45.9234043 L30.6619574,45.9234043 L30.6619574,50.6095319 L24.4914043,50.6095319 L24.4914043,66.2978723 L19.456,66.2978723 L19.456,50.6095319 L13.2854468,50.6095319 L13.2854468,45.9234043 Z M45.0448448,45.9234043 L50.080249,45.9234043 L50.080249,66.2978723 L45.0448448,66.2978723 L45.0448448,58.0898723 L37.8555682,58.0898723 L37.8555682,66.2978723 L32.8201639,66.2978723 L32.8201639,45.9234043 L37.8555682,45.9234043 L37.8555682,53.4037447 L45.0448448,53.4037447 L45.0448448,45.9234043 Z M53.7810938,45.9234043 L65.9184555,45.9234043 L65.9184555,50.6095319 L58.8164981,50.6095319 L58.8164981,53.5201702 L64.8415194,53.5201702 L64.8415194,58.2062979 L58.8164981,58.2062979 L58.8164981,61.6117447 L65.9184555,61.6117447 L65.9184555,66.2978723 L53.7810938,66.2978723 L53.7810938,45.9234043 Z M31.3605106,75.0297872 L37.2691064,75.0297872 L37.2691064,95.4042553 L32.2337021,95.4042553 L32.2337021,84.1982979 L31.6515745,86.2066383 L28.2170213,95.4042553 L23.8801702,95.4042553 L20.445617,86.2066383 L19.8634894,84.1982979 L19.8634894,95.4042553 L14.8280851,95.4042553 L14.8280851,75.0297872 L20.7366809,75.0297872 L25.684766,86.7596596 L26.0340426,87.8657021 L26.4124255,86.7596596 L31.3605106,75.0297872 Z M40.9699512,75.0297872 L53.1073129,75.0297872 L53.1073129,79.7159149 L46.0053554,79.7159149 L46.0053554,82.6265532 L52.0303767,82.6265532 L52.0303767,87.3126809 L46.0053554,87.3126809 L46.0053554,90.7181277 L53.1073129,90.7181277 L53.1073129,95.4042553 L40.9699512,95.4042553 L40.9699512,75.0297872 Z M72.7002428,75.0297872 L78.6088385,75.0297872 L78.6088385,95.4042553 L73.5734343,95.4042553 L73.5734343,84.1982979 L72.9913066,86.2066383 L69.5567534,95.4042553 L65.2199023,95.4042553 L61.7853492,86.2066383 L61.2032215,84.1982979 L61.2032215,95.4042553 L56.1678172,95.4042553 L56.1678172,75.0297872 L62.076413,75.0297872 L67.0244981,86.7596596 L67.3737747,87.8657021 L67.7521577,86.7596596 L72.7002428,75.0297872 Z M82.3096833,75.0297872 L94.447045,75.0297872 L94.447045,79.7159149 L87.3450876,79.7159149 L87.3450876,82.6265532 L93.3701088,82.6265532 L93.3701088,87.3126809 L87.3450876,87.3126809 L87.3450876,90.7181277 L94.447045,90.7181277 L94.447045,95.4042553 L82.3096833,95.4042553 L82.3096833,75.0297872 Z"
                    id="WHATTHEMEME" fill="#FFFFFF" fill-rule="nonzero"></path>
                  <rect id="Rectangle" stroke="#FFFFFF" stroke-width="8" x="0" y="0" width="117.234043" height="114"
                    rx="23">
                  </rect>
                  <rect id="Rectangle" fill="#FFFFFF" x="75.1914894" y="43.6595745" width="43.6595745"
                    height="25.0638298" rx="4"></rect>
                </g>
              </g>
            </svg>
            <span style="font-size:30px;color:#fff;cursor:pointer;float:right;margin-top:4%;"
              (click)="openNav()">&#9776;</span>
          </div>
        </div>
      </nav>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mySidenav" class="sidenav">
    <div id="menu-elements" class="menu-element">
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>
  <div class="wrapper">

    <div class="main">

      <div class="section section-basic" id="basic-elements">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 brand-bio">
              We are all mad here. Anyway start creating your own pun else life will!
            </div>
            <div class="col-xs-6 col-sm-6 ml-auto" style="text-align: center;">
              <input style="display: none" type="file" accept="image/jpeg" (change)="onFileChanged($event)" #fileInput>
              <button type="button" class="btn btn-primary text-right ml-auto" [disabled]="btnStatus" style="margin-top: 12px;
            margin-bottom: 12px;text-align: center;" (click)="fileInput.click()">Add Custom Image
                &nbsp;

                <span *ngIf="loaderStatus" class="loader-css" style="position: absolute;bottom: 4px;right: 8px;">
                  <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
                  <svg width="32" height="32" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                    <g fill="none" fill-rule="evenodd" stroke-width="2">
                      <circle cx="22" cy="22" r="1">
                        <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline"
                          keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                        <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline"
                          keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
                      </circle>
                      <circle cx="22" cy="22" r="1">
                        <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline"
                          keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                        <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline"
                          keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
                      </circle>
                    </g>
                  </svg>
                </span>
              </button>
            </div>
            <div class="col-xs-6 col-sm-6" style="text-align: center;margin-bottom:8px;">
              <h4 class="or-cls" style="margin-bottom:12px;">OR</h4>
              <span class="title">Choose a meme template</span>


            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="card-columns" class="card-columns mx-2">
      <div class="container-fluid">

        <input type="text" class="form-control search-input" [(ngModel)]="searchTerm" placeholder="Search meme">
        <svg class="search-icon" *ngIf="searchTerm.length == 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g data-name="Layer 2">
            <g data-name="search">
              <rect width="24" height="24" opacity="0" />
              <path
                d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z" />
            </g>
          </g>
        </svg>
        <svg class="cross-icon" (click)="clearSearch()" *ngIf="searchTerm.length > 0" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <g data-name="Layer 2">
            <g data-name="close">
              <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0" />
              <path
                d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z" />
            </g>
          </g>
        </svg>

        <span *ngIf="imgLoader" class="loader-css" style="margin-left: 46%;">
          <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
          <svg width="32" height="32" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
            <g fill="none" fill-rule="evenodd" stroke-width="2">
              <circle cx="22" cy="22" r="1">
                <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
                  keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline"
                  keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
              </circle>
              <circle cx="22" cy="22" r="1">
                <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
                  keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline"
                  keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
              </circle>
            </g>
          </svg>
        </span>

        <div class="row" style="margin-top: 5%;" *ngIf="!imgLoader">
          
          <ng-container *ngFor="let meme of memes|filter:searchTerm">
            <div class="col-6">
              <img src="{{meme.url}}" [routerLink]="['/meme',meme.id]" class="card-img-top " alt="...">
              <!-- <div class="card-body"> -->
              <h5 class="card-title" style="text-align: center;">{{meme.name}}</h5>
              <!-- <a [routerLink]="['/meme',meme.id]" class="btn btn-primary">Choose</a> -->
            </div>
          </ng-container>
          <ng-container *ngIf="(memes | filter: searchTerm).length === 0">
            <svg width="210px" height="210px"  style="margin-left: 25%;" viewBox="0 0 563 554" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              
              <title>Group 3</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile-404" transform="translate(-82.000000, -98.000000)">
                  <g id="Group-3" transform="translate(82.000000, 98.000000)">
                    <path
                      d="M267,540.909269 C253.060265,540.337785 236.07897,540 217.740886,540 C170.386859,540 132,542.238806 132,545 C132,547.761194 170.386859,550 217.740886,550 C236.07897,550 253.060265,549.662215 267,549.090731 L267,540.909269 Z"
                      id="Fill-17" fill="#373A55" opacity="0.447893415"></path>
                    <path
                      d="M61.8266322,546.871175 L61.8266322,539 C24.4104532,540.627378 0,543.29694 0,546.31493 C0,549.572787 28.4415557,552.426385 71,554 L71,546.871175 L61.8266322,546.871175 Z"
                      id="Fill-18" fill="#373A55" opacity="0.447893415"></path>
                    <path
                      d="M244.6165,480 C244.5395,479.334188 244.4625,478.666667 244.3835,478 C244.4625,478.666667 244.5395,479.334188 244.6165,480"
                      id="Fill-20" fill="#A4098B"></path>
                    <path
                      d="M245.5325,493.8835 C245.5115,493.6275 245.4895,493.3735 245.4675,493.1165 C245.4895,493.3735 245.5115,493.6275 245.5325,493.8835"
                      id="Fill-21" fill="#A4098B"></path>
                    <path
                      d="M243.6375,477 C243.5475,475.998879 243.4555,475 243.3625,474 C243.4555,475 243.5475,475.998879 243.6375,477"
                      id="Fill-22" fill="#A4098B"></path>
                    <path
                      d="M244.5695,489 C244.5235,488.334212 244.4775,487.667106 244.4305,487 C244.4775,487.667106 244.5235,488.334212 244.5695,489"
                      id="Fill-23" fill="#A4098B"></path>
                    <path
                      d="M245.521,500.7605 C245.507,500.5875 245.493,500.4125 245.479,500.2395 C245.493,500.4125 245.507,500.5875 245.521,500.7605"
                      id="Fill-24" fill="#A4098B"></path>
                    <path
                      d="M246.5065,502.5855 C246.5025,502.5275 246.4975,502.4715 246.4935,502.4145 C246.4975,502.4715 246.5025,502.5275 246.5065,502.5855"
                      id="Fill-26" fill="#A4098B"></path>
                    <path
                      d="M244.612,486 C244.539,485.334735 244.464,484.667788 244.388,484 C244.464,484.667788 244.539,485.334735 244.612,486"
                      id="Fill-27" fill="#A4098B"></path>
                    <path
                      d="M244.636,484 C244.547,483.001776 244.455,482.000355 244.364,481 C244.455,482.000355 244.546,483.001776 244.636,484"
                      id="Fill-28" fill="#A4098B"></path>
                    <path
                      d="M251.448466,280.808235 C250.648902,280.321867 249.755272,279.889429 248.765575,279.537886 C248.27723,275.128616 247.911973,271.302587 247.640782,268.138699 L247.288533,263.703462 C247.017342,260.025242 246.936285,257.997876 246.936285,257.997876 L246.828209,257.997876 L243.088573,211.484318 C248.630479,217.786129 254.062308,223.28798 258.899718,227.371673 L282,205.967487 C282,205.967487 269.305052,180.060152 251.555541,158.56109 C242.017818,147.001111 231.017064,136.710483 219.731109,132.424053 C218.688374,132.031563 217.657648,131.681019 216.613912,131.397387 C210.220406,128.069712 203.526688,126.434836 196.481722,127.354641 L185.222786,124 C185.222786,124 154.914423,127.204835 140.011919,154.585256 C128.332687,176.04537 113.903516,212.201386 134.076735,238.257528 C137.884419,243.192116 142.449637,247.871035 147.801409,252.224379 C147.396124,264.25874 146.229301,278.711959 143.601449,294.843996 C162.338656,297.670324 194.950643,296.142309 251.448466,280.808235"
                      id="Fill-30" fill="#25308B"></path>
                    <path
                      d="M234,415 C238.294497,428.464722 241.576599,451.498179 244,475 C242.634606,461.746798 240.996529,448.639645 239.058007,437.314291 C237.557759,428.553358 235.875062,420.871175 234,415"
                      id="Fill-31" fill="#A4098B"></path>
                    <path
                      d="M231.778,411 C231.594,410.655351 231.409,410.318819 231.222,410 C231.409,410.319557 231.594,410.654613 231.778,411"
                      id="Fill-32" fill="#A4098B"></path>
                    <path
                      d="M232.706,413 C232.569,412.657324 232.433,412.324593 232.294,412 C232.433,412.324593 232.569,412.657324 232.706,413"
                      id="Fill-34" fill="#A4098B"></path>
                    <path
                      d="M245.5525,492 C245.5175,491.667504 245.4825,491.333333 245.4475,491 C245.4825,491.333333 245.5175,491.667504 245.5525,492"
                      id="Fill-35" fill="#A4098B"></path>
                    <path
                      d="M233.714,414 C233.572,413.658208 233.43,413.325139 233.286,413 C233.43,413.325139 233.572,413.658208 233.714,414"
                      id="Fill-36" fill="#A4098B"></path>
                    <path
                      d="M245.524,497.789 C245.508,497.597 245.492,497.403 245.476,497.211 C245.492,497.403 245.508,497.597 245.524,497.789"
                      id="Fill-37" fill="#A4098B"></path>
                    <path
                      d="M245.58,500 C245.527,499.335391 245.475,498.669753 245.42,498 C245.475,498.669753 245.527,499.335391 245.58,500"
                      id="Fill-38" fill="#FFAEA2"></path>
                    <path
                      d="M246.5825,503 C246.5275,502.335934 246.4735,501.669917 246.4175,501 C246.4735,501.669917 246.5275,502.335934 246.5825,503"
                      id="Fill-41" fill="#FFAEA2"></path>
                    <path
                      d="M249,555 C248.694261,548.365694 247.745383,525.318677 246,503 C247.744393,525.305635 248.692282,548.353655 249,555"
                      id="Fill-43" fill="#FFAEA2"></path>
                    <path
                      d="M232.574,413.71 C232.524,413.568 232.475,413.429 232.426,413.29 C232.475,413.429 232.524,413.568 232.574,413.71"
                      id="Fill-45" fill="#FFAEA2"></path>
                    <path
                      d="M233.551,414.653 C233.518,414.549 233.484,414.45 233.449,414.347 C233.484,414.45 233.517,414.549 233.551,414.653"
                      id="Fill-46" fill="#FFAEA2"></path>
                    <path
                      d="M245.6515,498 C245.5525,496.673018 245.4525,495.340431 245.3485,494 C245.4525,495.340431 245.5525,496.673018 245.6515,498"
                      id="Fill-47" fill="#FFAEA2"></path>
                    <path
                      d="M243.509,474.5855 C243.503,474.5285 243.497,474.4715 243.491,474.4145 C243.497,474.4715 243.503,474.5285 243.509,474.5855"
                      id="Fill-48" fill="#FFAEA2"></path>
                    <path
                      d="M232.5725,411.6905 C232.5245,411.5635 232.4765,411.4335 232.4275,411.3095 C232.4765,411.4335 232.5245,411.5635 232.5725,411.6905"
                      id="Fill-49" fill="#FFAEA2"></path>
                    <path
                      d="M243.5275,477.768 C243.5095,477.589 243.4915,477.411 243.4725,477.232 C243.4915,477.411 243.5095,477.589 243.5275,477.768"
                      id="Fill-50" fill="#FFAEA2"></path>
                    <path
                      d="M244.5315,480.8205 C244.5105,480.6075 244.4895,480.3935 244.4685,480.1795 C244.4895,480.3935 244.5105,480.6075 244.5315,480.8205"
                      id="Fill-51" fill="#FFAEA2"></path>
                    <path
                      d="M245.5675,493 C245.5225,492.334635 245.4775,491.667969 245.4325,491 C245.4775,491.667969 245.5225,492.334635 245.5675,493"
                      id="Fill-52" fill="#FFAEA2"></path>
                    <path
                      d="M245.563,490 C245.521,489.666904 245.479,489.333096 245.437,489 C245.479,489.333096 245.521,489.666904 245.563,490"
                      id="Fill-53" fill="#FFAEA2"></path>
                    <path
                      d="M244.5155,483.668 C244.5045,483.556 244.4945,483.444 244.4845,483.332 C244.4945,483.444 244.5045,483.556 244.5155,483.668"
                      id="Fill-54" fill="#FFAEA2"></path>
                    <path
                      d="M244.5535,487 C244.5185,486.666667 244.4825,486.334184 244.4465,486 C244.4825,486.334184 244.5185,486.666667 244.5535,487"
                      id="Fill-55" fill="#FFAEA2"></path>
                    <path
                      d="M285.883036,549.75363 L249.6937,549.75363 C249.6937,549.75363 249.6937,549.685524 249.68071,549.590375 L249.68071,549.52327 C249.68071,549.387057 249.666721,549.19676 249.652732,548.953379 L249.652732,548.926337 C249.639742,548.654913 249.626752,548.329404 249.612762,547.949811 C249.612762,547.786556 249.598773,547.61028 249.585783,547.435006 L249.585783,547.244709 C249.423907,543.85441 249.098156,536.207457 248.584548,526.565387 C248.083931,517.316931 247.421437,513.479934 246.5551,502.563872 C246.54211,502.509787 246.54211,502.454701 246.54211,502.401618 C246.487152,501.709536 246.434192,501.031477 246.379234,500.339395 C246.365245,500.163119 246.339265,500.000866 246.325275,499.82459 C246.284307,499.173573 246.230348,498.523557 246.176389,497.871538 C246.14941,497.682242 246.13642,497.491944 246.12243,497.288626 C246.027503,496.108782 245.919585,494.915918 245.824658,493.723053 C245.797679,493.464649 245.783689,493.207247 245.75671,492.949845 C245.716741,492.43504 245.661783,491.933256 245.621813,491.41745 C245.580844,491.010814 245.554864,490.617199 245.513896,490.210563 C245.472927,489.749843 245.432957,489.2741 245.391989,488.813379 C245.33803,488.311595 245.297061,487.79679 245.256093,487.295006 C245.216123,486.901391 245.175155,486.508777 245.148175,486.115162 C245.066238,485.328933 244.999289,484.528682 244.918351,483.728432 C244.904362,483.620262 244.904362,483.511092 244.891372,483.402923 C244.796444,482.45444 244.715506,481.517977 244.620579,480.582514 C244.593599,480.366176 244.57961,480.148837 244.55363,479.931497 C244.471692,479.15929 244.403744,478.372059 244.322806,477.585831 C244.295827,477.410557 244.281837,477.23328 244.268847,477.057004 L243.984065,474.371807 C243.984065,474.318724 243.984065,474.263638 243.971075,474.209553 C242.59113,461.028952 240.940392,447.997584 238.991881,436.72897 C237.478039,428.023363 235.786332,420.37541 233.892779,414.544295 C233.864801,414.436126 233.823832,414.340978 233.797852,414.231807 C233.648966,413.799131 233.514069,413.378473 233.364183,412.971838 C233.311224,412.835625 233.270255,412.686391 233.216296,412.55118 C233.0804,412.171587 232.944504,411.806015 232.810607,411.438441 C232.755649,411.317251 232.715679,411.18204 232.660721,411.058848 C232.471866,410.599129 232.296,410.138409 232.107144,409.703729 C231.294765,407.818783 230.388458,405.798626 229.401213,403.656277 C218.077869,388.671856 210.198892,376.992601 201.703386,363.784958 C172.887415,434.677764 127.43616,477.748084 76.1613566,510.26591 C74.0379798,511.608008 71.9006137,512.924065 69.7492583,514.212078 C69.6813102,514.266163 69.6003721,514.306225 69.532424,514.347289 C73.5913212,523.608765 68.4092826,536.26054 69.7632476,539.204141 C71.1152141,542.145739 80.5859742,541.006959 80.5859742,546.892158 C80.5859742,552.763334 76.527077,552.763334 69.532424,552.993695 C62.5377711,553.211034 59.6170039,547.786556 55.3282823,540.328899 C51.0395608,532.871243 40,512.76081 40,512.76081 L40.0129901,512.747789 C40.1888556,512.571514 42.2053142,510.375081 46.7098707,504.055203 C47.0616018,503.56744 47.4133329,503.051634 47.8050335,502.509787 C49.1040404,500.651883 50.578913,498.495513 52.2436404,496.000613 L52.2566305,495.986591 L58.7496669,487.104709 L123.539139,398.408074 L139.772729,315.338234 L139.827687,315.093852 C140.057511,314.064243 140.287336,313.032631 140.51716,312.00202 C140.88288,310.334413 141.234612,308.680829 141.558364,307.039263 C141.844146,305.642079 142.113939,304.259919 142.370743,302.889777 C142.559599,301.90023 142.749454,300.896662 142.926318,299.920136 C143.27705,297.954063 143.615791,296.002011 143.927553,294.076001 C162.636251,296.910431 195.200358,295.377035 251.615231,280 C257.879443,283.770894 259.055544,290.712744 259.055544,290.712744 C259.055544,290.712744 254.658905,290.712744 252.291714,290.035686 C250.275256,289.451773 257.350847,301.20915 252.548518,304.680576 C256.268674,327.229821 262.451947,355.381823 272.693119,383.586908 C291.010116,434.056794 276.182451,494.359047 271.177277,521.574586 C269.906249,528.54448 269.255746,532.871243 269.987187,533.603387 C273.531478,537.169962 283.853587,534.281447 288.250226,539.882201 C292.647864,545.468933 287.573743,549.75363 285.883036,549.75363"
                      id="Fill-56" fill="#4665B3"></path>
                    <path
                      d="M284.924334,550 L249.098026,550 C249.098026,550 249.098026,549.932326 249.085166,549.837782 L249.085166,549.771104 C249.085166,549.635756 249.071317,549.446668 249.057468,549.204834 L249.057468,549.177963 C249.044608,548.908264 249.031749,548.584823 249.0179,548.207642 C249.0179,548.045424 249.004051,547.870268 248.991191,547.696108 L248.991191,547.50702 C248.830938,544.138262 248.508455,536.539897 248,526.95909 C256.29059,524.614395 263.870925,522.822037 270.366094,522 C269.107816,528.925609 268.463839,533.22488 269.187942,533.952372 C272.696679,537.496286 282.915244,534.626124 287.267779,540.191292 C291.621303,545.742527 286.598082,550 284.924334,550"
                      id="Fill-57" fill="#253C84"></path>
                    <path
                      d="M275,101.677461 C275,101.677461 262.476507,123.944474 247.46798,132.608922 C242.863091,135.275444 238.014413,136.655197 233.218908,135.694369 C227.406113,134.543576 223.398154,132.135007 220.654282,129.305514 C220.573019,129.210531 220.491757,129.10255 220.383406,129.007567 L219.133365,133.663733 C219.133365,133.663733 211.404374,136.317258 201.77524,133.799709 C199.27616,133.149825 196.65368,132.148005 194.005117,130.672269 C190.990369,128.980572 187.933485,126.665986 185,123.511551 C185,123.511551 195.702605,110.475886 200.456978,96.2624312 C205.21135,82.0489766 215.398288,55.8296721 241.884928,66.4817645 C268.371568,77.1348567 275,101.677461 275,101.677461"
                      id="Fill-58" fill="#8BC2FF"></path>
                    <path
                      d="M214.383739,90.9875998 C211.991062,94.2981956 206.136619,100.994378 200.643882,96.2969516 C200.643882,96.2969516 194.369618,59.5764344 220.992657,60.2533518 C220.992657,60.2533518 233.370851,35.5483678 256.940922,47.054963 C280.510993,58.5605584 281.528983,83.7744803 287.971575,83.9434597 C294.41517,84.113439 285.088941,108.141506 265.927487,106.95765 C246.766034,105.772795 243.714068,82.4216455 237.270474,84.9593357 C230.826879,87.4980258 225.739936,94.9431169 223.026632,94.4351789 C220.314331,93.9272409 225.230941,84.6213769 225.909267,84.113439 C226.588595,83.605501 230.657548,77.5982343 225.739936,74.0446681 C220.822324,70.491102 212.105285,77.4102573 212.274616,82.4866376 C212.369802,85.3422889 213.377772,87.1470686 214.24146,88.1799425 C214.917782,88.9898436 215.000945,90.1327041 214.383739,90.9875998"
                      id="Fill-59" fill="#4665B3"></path>
                    <polygon id="Fill-60" fill="#D2CECA"
                      points="412 371.369107 385.338239 433 232.082663 409.840522 218 351.922768 242.138134 290 261.871681 299.451354">
                    </polygon>
                    <polygon id="Fill-61" fill="#B3B3B3"
                      points="264 349.657413 231.930121 410 218 352.488944 241.878369 291 261.399552 300.384987">
                    </polygon>
                    <polygon id="Fill-62" fill="#898989"
                      points="252.17267 291 402.505575 317.023126 412 372 264.380074 349.807152 242 291"></polygon>
                    <polygon id="Fill-63" fill="#C7C7C7"
                      points="246.057267 291 273.103712 317.118027 284 353 264.312968 350.021611 242 291"></polygon>
                    <path
                      d="M248.824428,306 C237.630697,306 233.898785,297.572123 230.168878,293.864135 C226.436966,290.156148 196.927406,284.761988 155.626849,257.766288 C146.699924,251.927926 139.562793,245.252951 134,238.079993 C146.52355,227.251834 167.968012,224 167.968012,224 C179.500461,246.344532 233.561069,276.671744 245.351064,278.356921 C257.127029,280.043094 259,291.167055 259,291.167055 C259,291.167055 254.590652,291.167055 252.216619,290.493781 C249.842586,289.818515 260.018158,306 248.824428,306"
                      id="Fill-64" fill="#8BC2FF"></path>
                    <path
                      d="M281.96918,205 C281.96918,205 312.421952,276.295239 308.681649,304.967418 C308.385131,307.239496 305.363237,307.766836 304.32642,305.727791 L300.827908,298.851289 L289.809985,296.919722 L259,226.528492 L281.96918,205 Z"
                      id="Fill-65" fill="#8BC2FF"></path>
                    <polygon id="Fill-66" fill="#C7C7C7"
                      points="401.515496 317 376 346.753083 379.236219 367.217131 411 372"></polygon>
                    <polygon id="Fill-67" fill="#DDDDDD"
                      points="412 371.378514 406.123975 410 259 388.34136 264.42333 349"></polygon>
                    <path
                      d="M221,129.223901 L219.72466,133.799893 C219.72466,133.799893 211.83292,136.40871 202,133.933527 C204.980914,124.687212 216.43746,116 216.43746,116 C214.523938,122.812402 221,129.223901 221,129.223901"
                      id="Fill-68" fill="#6FABE2"></path>
                    <g id="Group" transform="translate(174.000000, 28.000000)" fill="#FDE61E">
                      <path
                        d="M22.9991921,29.8464439 C22.9665443,31.0695396 22.0126165,32.0329593 20.8689234,31.999136 L2.01380075,31.4306856 C0.869087393,31.3957712 -0.0317877369,30.3756155 0.000860059469,29.1525198 C0.0324876122,27.9305152 0.986415411,26.9660044 2.13010853,27.0009188 L20.9852311,27.5693692 C22.1299445,27.6031925 23.0308196,28.6233482 22.9991921,29.8464439"
                        id="Fill-69"></path>
                      <path
                        d="M25.9991401,23.0834445 C25.983927,23.5876774 25.7679017,24.0870524 25.3551208,24.461098 C24.5295591,25.2091891 23.2252933,25.1742134 22.4433423,24.3824027 L9.56295689,11.3277273 C8.78100593,10.5359166 8.81853146,9.2884504 9.64510738,8.53938775 C10.4706691,7.79032511 11.7759491,7.82627235 12.5568859,8.6171115 L25.4372713,21.6727585 C25.8277397,22.068178 26.0143531,22.5782401 25.9991401,23.0834445"
                        id="Fill-70"></path>
                      <path
                        d="M33.9990802,2.13010768 L33.43063,20.9862513 C33.3968066,22.1299445 32.3777422,23.0308196 31.1546468,22.9991921 C29.9304602,22.9665443 28.9670407,22.0126164 29.000864,20.8689233 L29.5693143,2.0137999 C29.6042287,0.870106741 30.6232931,-0.0317886686 31.8463885,0.000859129011 C33.0705751,0.032486683 34.0339946,0.98641452 33.9990802,2.13010768"
                        id="Fill-71"></path>
                    </g>
                    <path
                      d="M80,546.881449 C80,552.761955 75.8996972,552.761955 68.8336903,552.993685 C61.7676835,553.21137 58.8171209,547.778271 54.4846493,540.307761 C50.1521777,532.838255 39,512.696869 39,512.696869 L39.0131226,512.682825 C39.1907822,512.506269 41.227811,510.306346 45.7783194,503.976425 C46.1336386,503.487888 46.4889578,502.972265 46.8846542,502.428554 C48.1969126,500.567698 49.6868306,498.408904 51.3685403,495.909037 L51.3816629,495.895996 L57.9409361,487 C62.8073959,493.818458 68.8064357,501.898887 75.530246,510.198005 C73.3852082,511.541232 71.2260384,512.85938 69.0527365,514.14944 C68.9840953,514.204614 68.9023315,514.24474 68.8336903,514.28587 C72.9339932,523.562062 67.6990915,536.233941 69.0668686,539.181216 C70.4326267,542.128491 80,540.986899 80,546.881449"
                      id="Fill-78" fill="#253C84"></path>
                    <g id="Group-2" transform="translate(309.000000, 0.000000)">
                      <path
                        d="M127,201 C197.140163,201 254,156.004617 254,100.5 C254,44.9953826 197.140163,0 127,0 C56.8598368,0 0,44.9953826 0,100.5 C0,123.311432 9.60400755,144.347784 25.7868325,161.215107 C29.2953731,164.872051 25.0151515,176.636364 19.2424242,178.666667 C13.469697,180.69697 44.2575758,178.666667 48.0263165,179.211004 C75.27334,183.146423 97.1506732,201 127,201 Z"
                        id="Oval" fill="#2A2B62"></path>
                      <path
                        d="M100.161453,47.9 L100.161453,54.547 L91.8354529,54.547 L91.8354529,47.9 L88.8454529,47.9 L88.8454529,64 L91.8354529,64 L91.8354529,57.1 L100.161453,57.1 L100.161453,64 L103.151453,64 L103.151453,47.9 L100.161453,47.9 Z M122.070476,51.58 C120.115476,51.58 118.459476,52.362 117.470476,53.627 C116.619476,52.247 115.124476,51.58 113.330476,51.58 C111.651476,51.58 110.225476,52.178 109.305476,53.282 L109.305476,51.718 L106.568476,51.718 L106.568476,64 L109.443476,64 L109.443476,57.767 C109.443476,55.329 110.731476,54.087 112.640476,54.087 C114.388476,54.087 115.400476,55.145 115.400476,57.33 L115.400476,64 L118.275476,64 L118.275476,57.767 C118.275476,55.329 119.586476,54.087 121.472476,54.087 C123.220476,54.087 124.232476,55.145 124.232476,57.33 L124.232476,64 L127.107476,64 L127.107476,56.962 C127.107476,53.259 125.037476,51.58 122.070476,51.58 Z M145.6585,51.58 C143.7035,51.58 142.0475,52.362 141.0585,53.627 C140.2075,52.247 138.7125,51.58 136.9185,51.58 C135.2395,51.58 133.8135,52.178 132.8935,53.282 L132.8935,51.718 L130.1565,51.718 L130.1565,64 L133.0315,64 L133.0315,57.767 C133.0315,55.329 134.3195,54.087 136.2285,54.087 C137.9765,54.087 138.9885,55.145 138.9885,57.33 L138.9885,64 L141.8635,64 L141.8635,57.767 C141.8635,55.329 143.1745,54.087 145.0605,54.087 C146.8085,54.087 147.8205,55.145 147.8205,57.33 L147.8205,64 L150.6955,64 L150.6955,56.962 C150.6955,53.259 148.6255,51.58 145.6585,51.58 Z M154.664524,64.161 C155.699524,64.161 156.550524,63.356 156.550524,62.252 C156.550524,61.102 155.699524,60.343 154.664524,60.343 C153.629524,60.343 152.778524,61.102 152.778524,62.252 C152.778524,63.356 153.629524,64.161 154.664524,64.161 Z M160.391524,64.161 C161.426524,64.161 162.277524,63.356 162.277524,62.252 C162.277524,61.102 161.426524,60.343 160.391524,60.343 C159.356524,60.343 158.505524,61.102 158.505524,62.252 C158.505524,63.356 159.356524,64.161 160.391524,64.161 Z M166.141524,64.161 C167.176524,64.161 168.027524,63.356 168.027524,62.252 C168.027524,61.102 167.176524,60.343 166.141524,60.343 C165.106524,60.343 164.255524,61.102 164.255524,62.252 C164.255524,63.356 165.106524,64.161 166.141524,64.161 Z M47.9913587,90 L50.9813587,90 L50.9813587,76.43 L56.3173587,76.43 L56.3173587,73.9 L42.6553587,73.9 L42.6553587,76.43 L47.9913587,76.43 L47.9913587,90 Z M64.6333823,77.58 C62.9313823,77.58 61.4823823,78.132 60.5393823,79.144 L60.5393823,72.934 L57.6643823,72.934 L57.6643823,90 L60.5393823,90 L60.5393823,83.79 C60.5393823,81.329 61.9193823,80.087 63.9663823,80.087 C65.8063823,80.087 66.8873823,81.145 66.8873823,83.33 L66.8873823,90 L69.7623823,90 L69.7623823,82.962 C69.7623823,79.259 67.5773823,77.58 64.6333823,77.58 Z M84.4494058,83.928 C84.4494058,80.087 81.8274058,77.58 78.2394058,77.58 C74.5824058,77.58 71.8914058,80.202 71.8914058,83.859 C71.8914058,87.516 74.5594058,90.161 78.6764058,90.161 C80.7924058,90.161 82.5174058,89.471 83.6214058,88.16 L82.0804058,86.389 C81.2064058,87.286 80.1254058,87.723 78.7454058,87.723 C76.6064058,87.723 75.1114058,86.573 74.7664058,84.779 L84.4034058,84.779 L84.4295338,84.426456 C84.4411258,84.2454 84.4494058,84.066 84.4494058,83.928 Z M78.2394058,79.88 C80.1254058,79.88 81.4824058,81.099 81.7124058,82.87 L74.7434058,82.87 C75.0194058,81.076 76.3764058,79.88 78.2394058,79.88 Z M107.797453,77.58 C105.842453,77.58 104.186453,78.362 103.197453,79.627 C102.346453,78.247 100.851453,77.58 99.0574529,77.58 C97.3784529,77.58 95.9524529,78.178 95.0324529,79.282 L95.0324529,77.718 L92.2954529,77.718 L92.2954529,90 L95.1704529,90 L95.1704529,83.767 C95.1704529,81.329 96.4584529,80.087 98.3674529,80.087 C100.115453,80.087 101.127453,81.145 101.127453,83.33 L101.127453,90 L104.002453,90 L104.002453,83.767 C104.002453,81.329 105.313453,80.087 107.199453,80.087 C108.947453,80.087 109.959453,81.145 109.959453,83.33 L109.959453,90 L112.834453,90 L112.834453,82.962 C112.834453,79.259 110.764453,77.58 107.797453,77.58 Z M127.544476,83.928 C127.544476,80.087 124.922476,77.58 121.334476,77.58 C117.677476,77.58 114.986476,80.202 114.986476,83.859 C114.986476,87.516 117.654476,90.161 121.771476,90.161 C123.887476,90.161 125.612476,89.471 126.716476,88.16 L125.175476,86.389 C124.301476,87.286 123.220476,87.723 121.840476,87.723 C119.701476,87.723 118.206476,86.573 117.861476,84.779 L127.498476,84.779 L127.524604,84.426456 C127.536196,84.2454 127.544476,84.066 127.544476,83.928 Z M121.334476,79.88 C123.220476,79.88 124.577476,81.099 124.807476,82.87 L117.838476,82.87 C118.114476,81.076 119.471476,79.88 121.334476,79.88 Z M145.1755,77.58 C143.2205,77.58 141.5645,78.362 140.5755,79.627 C139.7245,78.247 138.2295,77.58 136.4355,77.58 C134.7565,77.58 133.3305,78.178 132.4105,79.282 L132.4105,77.718 L129.6735,77.718 L129.6735,90 L132.5485,90 L132.5485,83.767 C132.5485,81.329 133.8365,80.087 135.7455,80.087 C137.4935,80.087 138.5055,81.145 138.5055,83.33 L138.5055,90 L141.3805,90 L141.3805,83.767 C141.3805,81.329 142.6915,80.087 144.5775,80.087 C146.3255,80.087 147.3375,81.145 147.3375,83.33 L147.3375,90 L150.2125,90 L150.2125,82.962 C150.2125,79.259 148.1425,77.58 145.1755,77.58 Z M164.922524,83.928 C164.922524,80.087 162.300524,77.58 158.712524,77.58 C155.055524,77.58 152.364524,80.202 152.364524,83.859 C152.364524,87.516 155.032524,90.161 159.149524,90.161 C161.265524,90.161 162.990524,89.471 164.094524,88.16 L162.553524,86.389 C161.679524,87.286 160.598524,87.723 159.218524,87.723 C157.079524,87.723 155.584524,86.573 155.239524,84.779 L164.876524,84.779 L164.902652,84.426456 C164.914244,84.2454 164.922524,84.066 164.922524,83.928 Z M158.712524,79.88 C160.598524,79.88 161.955524,81.099 162.185524,82.87 L155.216524,82.87 C155.492524,81.076 156.849524,79.88 158.712524,79.88 Z M181.508571,77.718 L177.621571,86.803 L173.757571,77.718 L170.767571,77.718 L176.126571,90.046 L175.919571,90.529 C175.367571,91.748 174.769571,92.231 173.757571,92.231 C172.975571,92.231 172.193571,91.909 171.641571,91.38 L170.491571,93.496 C171.273571,94.209 172.561571,94.623 173.780571,94.623 C175.827571,94.623 177.391571,93.772 178.518571,90.989 L184.268571,77.718 L181.508571,77.718 Z M190.606594,90.161 C194.424594,90.161 197.161594,87.539 197.161594,83.859 C197.161594,80.179 194.424594,77.58 190.606594,77.58 C186.834594,77.58 184.074594,80.179 184.074594,83.859 C184.074594,87.539 186.834594,90.161 190.606594,90.161 Z M190.606594,87.7 C188.536594,87.7 186.972594,86.205 186.972594,83.859 C186.972594,81.513 188.536594,80.018 190.606594,80.018 C192.699594,80.018 194.263594,81.513 194.263594,83.859 C194.263594,86.205 192.699594,87.7 190.606594,87.7 Z M208.306618,77.718 L208.306618,83.928 C208.306618,86.389 206.949618,87.631 204.948618,87.631 C203.131618,87.631 202.073618,86.573 202.073618,84.342 L202.073618,77.718 L199.198618,77.718 L199.198618,84.733 C199.198618,88.436 201.337618,90.161 204.488618,90.161 C206.075618,90.161 207.524618,89.563 208.444618,88.436 L208.444618,90 L211.181618,90 L211.181618,77.718 L208.306618,77.718 Z M57.817347,103.58 C55.839347,103.58 53.930347,104.086 52.619347,105.098 L53.746347,107.191 C54.666347,106.432 56.092347,105.972 57.472347,105.972 C59.519347,105.972 60.531347,106.961 60.531347,108.64 L60.531347,108.824 L57.357347,108.824 C53.631347,108.824 52.251347,110.434 52.251347,112.481 C52.251347,114.62 54.022347,116.161 56.828347,116.161 C58.668347,116.161 60.002347,115.563 60.692347,114.505 L60.692347,116 L63.406347,116 L63.406347,108.801 C63.406347,105.259 61.359347,103.58 57.817347,103.58 Z M57.426347,114.068 C55.954347,114.068 55.080347,113.401 55.080347,112.366 C55.080347,111.469 55.609347,110.733 57.564347,110.733 L60.531347,110.733 L60.531347,112.159 C60.048347,113.424 58.829347,114.068 57.426347,114.068 Z M69.1923705,105.512 L69.1923705,103.718 L66.4553705,103.718 L66.4553705,116 L69.3303705,116 L69.3303705,110.043 C69.3303705,107.536 70.7103705,106.248 72.8953705,106.248 C73.1023705,106.248 73.3093705,106.271 73.5623705,106.317 L73.5623705,103.58 C71.5153705,103.58 70.0203705,104.224 69.1923705,105.512 Z M86.800394,109.928 C86.800394,106.087 84.178394,103.58 80.590394,103.58 C76.933394,103.58 74.242394,106.202 74.242394,109.859 C74.242394,113.516 76.910394,116.161 81.027394,116.161 C83.143394,116.161 84.868394,115.471 85.972394,114.16 L84.431394,112.389 C83.557394,113.286 82.476394,113.723 81.096394,113.723 C78.957394,113.723 77.462394,112.573 77.117394,110.779 L86.754394,110.779 L86.780522,110.426456 C86.792114,110.2454 86.800394,110.066 86.800394,109.928 Z M80.590394,105.88 C82.476394,105.88 83.833394,107.099 84.063394,108.87 L77.094394,108.87 C77.370394,107.076 78.727394,105.88 80.590394,105.88 Z M98.4414411,116.161 C101.891441,116.161 104.007441,114.666 104.007441,112.366 C104.007441,107.559 96.4174411,109.767 96.4174411,107.283 C96.4174411,106.478 97.2454411,105.903 98.9934411,105.903 C100.166441,105.903 101.339441,106.133 102.512441,106.823 L103.616441,104.638 C102.512441,103.971 100.649441,103.58 99.0164411,103.58 C95.7044411,103.58 93.6114411,105.098 93.6114411,107.421 C93.6114411,112.32 101.201441,110.112 101.201441,112.458 C101.201441,113.309 100.442441,113.815 98.6254411,113.815 C97.0844411,113.815 95.4284411,113.309 94.3474411,112.596 L93.2434411,114.781 C94.3474411,115.563 96.3944411,116.161 98.4414411,116.161 Z M117.406465,109.928 C117.406465,106.087 114.784465,103.58 111.196465,103.58 C107.539465,103.58 104.848465,106.202 104.848465,109.859 C104.848465,113.516 107.516465,116.161 111.633465,116.161 C113.749465,116.161 115.474465,115.471 116.578465,114.16 L115.037465,112.389 C114.163465,113.286 113.082465,113.723 111.702465,113.723 C109.563465,113.723 108.068465,112.573 107.723465,110.779 L117.360465,110.779 L117.386593,110.426456 C117.398185,110.2454 117.406465,110.066 117.406465,109.928 Z M111.196465,105.88 C113.082465,105.88 114.439465,107.099 114.669465,108.87 L107.700465,108.87 C107.976465,107.076 109.333465,105.88 111.196465,105.88 Z M123.882488,103.58 C121.904488,103.58 119.995488,104.086 118.684488,105.098 L119.811488,107.191 C120.731488,106.432 122.157488,105.972 123.537488,105.972 C125.584488,105.972 126.596488,106.961 126.596488,108.64 L126.596488,108.824 L123.422488,108.824 C119.696488,108.824 118.316488,110.434 118.316488,112.481 C118.316488,114.62 120.087488,116.161 122.893488,116.161 C124.733488,116.161 126.067488,115.563 126.757488,114.505 L126.757488,116 L129.471488,116 L129.471488,108.801 C129.471488,105.259 127.424488,103.58 123.882488,103.58 Z M123.491488,114.068 C122.019488,114.068 121.145488,113.401 121.145488,112.366 C121.145488,111.469 121.674488,110.733 123.629488,110.733 L126.596488,110.733 L126.596488,112.159 C126.113488,113.424 124.894488,114.068 123.491488,114.068 Z M135.257512,105.512 L135.257512,103.718 L132.520512,103.718 L132.520512,116 L135.395512,116 L135.395512,110.043 C135.395512,107.536 136.775512,106.248 138.960512,106.248 C139.167512,106.248 139.374512,106.271 139.627512,106.317 L139.627512,103.58 C137.580512,103.58 136.085512,104.224 135.257512,105.512 Z M146.954535,116.161 C149.346535,116.161 151.255535,115.126 152.198535,113.286 L149.990535,111.998 C149.254535,113.171 148.150535,113.7 146.931535,113.7 C144.815535,113.7 143.205535,112.251 143.205535,109.859 C143.205535,107.49 144.815535,106.018 146.931535,106.018 C148.150535,106.018 149.254535,106.547 149.990535,107.72 L152.198535,106.432 C151.255535,104.569 149.346535,103.58 146.954535,103.58 C143.067535,103.58 140.307535,106.179 140.307535,109.859 C140.307535,113.539 143.067535,116.161 146.954535,116.161 Z M160.905559,103.58 C159.203559,103.58 157.754559,104.132 156.811559,105.144 L156.811559,98.934 L153.936559,98.934 L153.936559,116 L156.811559,116 L156.811559,109.79 C156.811559,107.329 158.191559,106.087 160.238559,106.087 C162.078559,106.087 163.159559,107.145 163.159559,109.33 L163.159559,116 L166.034559,116 L166.034559,108.962 C166.034559,105.259 163.849559,103.58 160.905559,103.58 Z M170.509582,101.694 C171.590582,101.694 172.349582,100.912 172.349582,99.9 C172.349582,98.957 171.567582,98.244 170.509582,98.244 C169.451582,98.244 168.669582,99.003 168.669582,99.969 C168.669582,100.935 169.451582,101.694 170.509582,101.694 Z M169.060582,116 L171.935582,116 L171.935582,103.718 L169.060582,103.718 L169.060582,116 Z M182.045606,103.58 C180.251606,103.58 178.756606,104.178 177.813606,105.305 L177.813606,103.718 L175.076606,103.718 L175.076606,116 L177.951606,116 L177.951606,109.79 C177.951606,107.329 179.331606,106.087 181.378606,106.087 C183.218606,106.087 184.299606,107.145 184.299606,109.33 L184.299606,116 L187.174606,116 L187.174606,108.962 C187.174606,105.259 184.989606,103.58 182.045606,103.58 Z M199.768629,103.718 L199.768629,105.351 C198.756629,104.132 197.238629,103.58 195.513629,103.58 C191.994629,103.58 189.303629,105.926 189.303629,109.491 C189.303629,113.056 191.994629,115.448 195.513629,115.448 C197.169629,115.448 198.618629,114.919 199.630629,113.815 L199.630629,114.459 C199.630629,116.943 198.434629,118.185 195.720629,118.185 C194.018629,118.185 192.270629,117.61 191.189629,116.713 L189.901629,118.875 C191.304629,120.025 193.581629,120.623 195.881629,120.623 C200.182629,120.623 202.505629,118.599 202.505629,114.137 L202.505629,103.718 L199.768629,103.718 Z M195.950629,113.01 C193.765629,113.01 192.201629,111.584 192.201629,109.491 C192.201629,107.421 193.765629,106.018 195.950629,106.018 C198.112629,106.018 199.676629,107.421 199.676629,109.491 C199.676629,111.584 198.112629,113.01 195.950629,113.01 Z M60.680847,127.694 C61.761847,127.694 62.520847,126.912 62.520847,125.9 C62.520847,124.957 61.738847,124.244 60.680847,124.244 C59.622847,124.244 58.840847,125.003 58.840847,125.969 C58.840847,126.935 59.622847,127.694 60.680847,127.694 Z M59.231847,142 L62.106847,142 L62.106847,129.718 L59.231847,129.718 L59.231847,142 Z M69.0428705,142.161 C72.4928705,142.161 74.6088705,140.666 74.6088705,138.366 C74.6088705,133.559 67.0188705,135.767 67.0188705,133.283 C67.0188705,132.478 67.8468705,131.903 69.5948705,131.903 C70.7678705,131.903 71.9408705,132.133 73.1138705,132.823 L74.2178705,130.638 C73.1138705,129.971 71.2508705,129.58 69.6178705,129.58 C66.3058705,129.58 64.2128705,131.098 64.2128705,133.421 C64.2128705,138.32 71.8028705,136.112 71.8028705,138.458 C71.8028705,139.309 71.0438705,139.815 69.2268705,139.815 C67.6858705,139.815 66.0298705,139.309 64.9488705,138.596 L63.8448705,140.781 C64.9488705,141.563 66.9958705,142.161 69.0428705,142.161 Z M89.1479176,129.58 C87.3539176,129.58 85.8589176,130.178 84.9159176,131.305 L84.9159176,129.718 L82.1789176,129.718 L82.1789176,142 L85.0539176,142 L85.0539176,135.79 C85.0539176,133.329 86.4339176,132.087 88.4809176,132.087 C90.3209176,132.087 91.4019176,133.145 91.4019176,135.33 L91.4019176,142 L94.2769176,142 L94.2769176,134.962 C94.2769176,131.259 92.0919176,129.58 89.1479176,129.58 Z M102.937941,142.161 C106.755941,142.161 109.492941,139.539 109.492941,135.859 C109.492941,132.179 106.755941,129.58 102.937941,129.58 C99.1659411,129.58 96.4059411,132.179 96.4059411,135.859 C96.4059411,139.539 99.1659411,142.161 102.937941,142.161 Z M102.937941,139.7 C100.867941,139.7 99.3039411,138.205 99.3039411,135.859 C99.3039411,133.513 100.867941,132.018 102.937941,132.018 C105.030941,132.018 106.594941,133.513 106.594941,135.859 C106.594941,138.205 105.030941,139.7 102.937941,139.7 Z M118.199965,139.286 C117.762965,139.631 117.187965,139.792 116.589965,139.792 C115.485965,139.792 114.887965,139.148 114.887965,137.952 L114.887965,132.11 L118.176965,132.11 L118.176965,129.81 L114.887965,129.81 L114.887965,127.004 L112.012965,127.004 L112.012965,129.81 L109.988965,129.81 L109.988965,132.11 L112.012965,132.11 L112.012965,138.021 C112.012965,140.735 113.553965,142.161 116.244965,142.161 C117.279965,142.161 118.314965,141.885 119.004965,141.333 L118.199965,139.286 Z M131.451012,127.096 C132.049012,127.096 132.601012,127.303 133.038012,127.602 L133.843012,125.44 C133.199012,124.98 132.233012,124.773 131.244012,124.773 C128.392012,124.773 126.851012,126.452 126.851012,129.028 L126.851012,129.81 L124.827012,129.81 L124.827012,132.11 L126.851012,132.11 L126.851012,142 L129.726012,142 L129.726012,132.11 L133.015012,132.11 L133.015012,129.81 L129.634012,129.81 L129.634012,129.074 C129.634012,127.763 130.255012,127.096 131.451012,127.096 Z M139.652035,142.161 C143.470035,142.161 146.207035,139.539 146.207035,135.859 C146.207035,132.179 143.470035,129.58 139.652035,129.58 C135.880035,129.58 133.120035,132.179 133.120035,135.859 C133.120035,139.539 135.880035,142.161 139.652035,142.161 Z M139.652035,139.7 C137.582035,139.7 136.018035,138.205 136.018035,135.859 C136.018035,133.513 137.582035,132.018 139.652035,132.018 C141.745035,132.018 143.309035,133.513 143.309035,135.859 C143.309035,138.205 141.745035,139.7 139.652035,139.7 Z M157.352059,129.718 L157.352059,135.928 C157.352059,138.389 155.995059,139.631 153.994059,139.631 C152.177059,139.631 151.119059,138.573 151.119059,136.342 L151.119059,129.718 L148.244059,129.718 L148.244059,136.733 C148.244059,140.436 150.383059,142.161 153.534059,142.161 C155.121059,142.161 156.570059,141.563 157.490059,140.436 L157.490059,142 L160.227059,142 L160.227059,129.718 L157.352059,129.718 Z M170.337082,129.58 C168.543082,129.58 167.048082,130.178 166.105082,131.305 L166.105082,129.718 L163.368082,129.718 L163.368082,142 L166.243082,142 L166.243082,135.79 C166.243082,133.329 167.623082,132.087 169.670082,132.087 C171.510082,132.087 172.591082,133.145 172.591082,135.33 L172.591082,142 L175.466082,142 L175.466082,134.962 C175.466082,131.259 173.281082,129.58 170.337082,129.58 Z M187.761106,124.934 L187.761106,131.236 C186.795106,130.109 185.392106,129.58 183.805106,129.58 C180.240106,129.58 177.595106,132.041 177.595106,135.859 C177.595106,139.677 180.240106,142.161 183.805106,142.161 C185.484106,142.161 186.910106,141.586 187.876106,140.413 L187.876106,142 L190.636106,142 L190.636106,124.934 L187.761106,124.934 Z M184.150106,139.7 C182.080106,139.7 180.493106,138.205 180.493106,135.859 C180.493106,133.513 182.080106,132.018 184.150106,132.018 C186.220106,132.018 187.807106,133.513 187.807106,135.859 C187.807106,138.205 186.220106,139.7 184.150106,139.7 Z M193.961129,136.664 L196.238129,136.664 L196.813129,125.9 L193.409129,125.9 L193.961129,136.664 Z M195.111129,142.161 C194.030129,142.161 193.248129,141.356 193.248129,140.367 C193.248129,139.378 194.030129,138.596 195.111129,138.596 C196.169129,138.596 196.928129,139.378 196.928129,140.367 C196.928129,141.356 196.169129,142.161 195.111129,142.161 Z"
                        id="Hmm…Thememeyouaresearchingisnotfound!" fill="#EFF7FF" fill-rule="nonzero"
                        opacity="0.655598958"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </ng-container>

        </div>
      </div>
    </div>

  </div>
</ion-content>

<!-- <img src="assets/img/loader.gif" *ngIf="loaderStatus" class="loader-css" -->
<!-- style="position: absolute;top: 50vh;left: 30%;" /> -->