/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body{
    font-family: 'Montserrat', sans-serif !important;
    color:#d8d9ed !important;
}

ion-content {
    --background: none;
    background-image: url('/assets/img/wtm-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
    color:#d8d9ed !important;
    
}

ion-toolbar {
    --background: none;
    background-image: url('/assets/img/wtm-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
    color:#d8d9ed !important;
    
}
.brand-bio{
    text-align: center;
    margin: 14px 12px 0px 12px;
    color: rgba(255, 255, 255, 0.8);
}

.navbar.navbar-transparent {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

// side menu css
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .menu-element{
    color:#d8d9ed !important;
  }

  .content-div{
    text-align: left;
    margin: 3% 7% 4% 7%;
}

.about-text-header{
    font-size: 15px;
    display: flex;
    font-weight: 600;
    color: cadetblue;
    font-style: italic;
    color: #fff;
}
.about-text-body{
    display: flex;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5%;
    margin-bottom: 5%;
    color: rgba(255, 255, 255, 0.8);
}
.search-input{
  border:0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #2b3553 !important;
  width: 90% !important;
  margin-left: 5%;
  
}
.search-input:focus{
  border-color:#daae51 !important;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out !important; 
}
.search-icon{
  width: 18px;
  fill: #fff;
  height: 18px;
  margin-top: -8%;
  margin-right: 6%;
  float: right;
}
.cross-icon{
  width: 18px;
  fill: #fff;
  height: 18px;
  margin-top: -8%;
  margin-right: 6%;
  float: right;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
// 
